*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.coursesContainer{
    width: 80%;
    height: auto + 200px;
    display: grid;
    grid-template-rows:  1fr;

    margin: auto;
    margin-bottom: 300px;
}

.imagesHeader{
    display: grid;
    position: absolute;
    width: 100%;
    left: 0;
    height: 200px;
    align-items: center;
}

.imagesHeader div{
    width: 80%;
    margin: auto;
    border-left: 8px solid blue;
    padding: 20px 10px;
}

.aELinksContainerMargin{
    transform: translateY(200px);
    display: grid;
    grid-template-rows: 50px repeat(4,auto);
    /* align-items: center; */
}

.ae{
    padding: 50px;
    border: 1px solid rgb(244, 244, 244);
}

.ae .entryRequirement{
    height: auto;
    display: grid;
    /* grid-template-rows: 50px 50px 1fr 100px; */
}

.entryRequirement{
    display: grid;
    grid-template-rows: 50px 50px 1fr 100px auto;
    grid-row-gap: 10px;
}

.programme a{
    text-decoration: none;
    color: rgb(0, 96, 213);
}

.ulPad{
    padding: 0 20px;
}