*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contactcontainer{
    width: 100%;
    padding: 30px;
    height: auto + 200px;
    display: grid;
    grid-template-rows:  1fr;

    margin: auto;
    
}