* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navContainer{
    width: 100%;
    height: 150px;
    display: grid;
    grid-template-rows: 1fr 2fr 3fr;
}

.topNav{
    display: grid;   
    width: 100%;
    justify-items: end;
    align-items: center;
    background-color: rgb(238, 238, 238);
}

.topNav div a{
    padding: 0 20px;
    text-decoration: none;
}

.middleNav{
    display: grid;
    align-items: end;
    justify-items: end;
    grid-template-columns: 90% 1fr;
    width: 100%;
    background-color: rgb(250, 249, 249);
}

.bottomNav {
    display: grid;
    /* grid-template-columns: repeat(5, 150px); */
    width: 100%;
    align-items: center;
    justify-items: end;
    grid-template-columns: 200px 1fr;
}

.bottomNav div a{
    padding: 20px 20px;
    text-decoration: none;
    color: rgb(0, 73, 136)
}

.faculties{
    position: relative;
}



.faculties div {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 200px;
    height: auto;
    border-radius: 5px;
    background-color: white;
    z-index: 10;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}




.faculties:hover  div {
    display: grid;
    transition: 0.3s ease all;
    opacity: 1;
}

.facultiesAnnex div,.facultiesAnnex2 div,.facultiesAnnex3 div, .facultiesAnnex4 div {
    color: red;
    visibility: hidden;
    left:200px;
    top: 0;
    display: grid;
    grid-template-rows: auto auto auto;
}

.facultiesAnnex:hover div {
    visibility: visible;
}

.facultiesAnnex2:hover div{
    visibility: visible;
}

.facultiesAnnex3:hover div{
    visibility: visible;
}

.facultiesAnnex4:hover div{
    visibility: visible;
}


.logo{

    background-image: url('../assets/logo2.png');
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center;
    justify-self: start;
    width: 100%;
    height: 100%;
}
